*.log
*.pot
*.pyc
local_settings.py
/prt-env
tools/closure.jar
tools/cssmin.py
src/lib/dateutil
src/lib/django
src/lib/isodate
src/lib/nose
src/lib/passlib
src/lib/PIL
src/lib/pytz
src/lib/rauth
src/lib/unittest2
src/lib/facebook.py
/.pydevproject
/.project
